[bumpversion]
commit = True
tag = True
message = build: Version {new_version}
current_version = 22.0.1a1
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:(?P<release>a|b|rc)(?P<num>\d+))?
serialize =
	{major}.{minor}.{patch}{release}{num}
	{major}.{minor}.{patch}

[bumpversion:file:CHANGELOG.md]
search = Unreleased
replace = Version {new_version} ({now:%Y-%m-%d})

[bumpversion:file:tutorpanorama/__about__.py]
